body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

#test {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: yellowgreen;
    font-size: large;
}

table>tbody>tr:nth-child(even) {
    background-color: lightgrey;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: rgb(232, 106, 47);
}

a {
    color: green
}

a:link {
    text-decoration: none;
}

h1 {
    color: darkgreen
}
